@font-face {
  font-family: 'Toronto Subway';
  src: url('./fonts/toronto-subway.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Toronto Subway';
  src: url('./fonts/toronto-subway-bold.otf');
  font-weight: bold;
  font-style: normal;
}

$fontFamilyBody: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$fontFamilyHeader: 'Toronto Subway', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

$background: #242424;
$text: #eee;
$highlight: #87ceeb;
$transitionDuration: 0.2s;

:root {
  font-family: $fontFamilyBody;
  line-height: 1.5;
  color-scheme: light dark;
  color: $text;
  background-color: $background;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 2rem;
}

.compendium {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.compendium-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2rem;
}

h1 {
  margin: 0;
  font-family: $fontFamilyHeader;
  font-size: max(2rem, 4vw);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25rem;
}

.compendium-back-button {
  position: absolute;
  left: 0;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  color: $text;
  border: solid 2.5px $text;
  border-radius: 2rem;
  transition: color $transitionDuration, border-color $transitionDuration;

  &:hover {
    color: $highlight;
    border-color: $highlight;
  }
}

.compendium-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

$_h2_letter_spacing: 0.25rem;

h2 {
  margin: 0;
  font-family: $fontFamilyHeader;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: $_h2_letter_spacing;
}

.compendium-section h2,
.not-found h2, {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  &::before,
  &::after {
    content: '';
    flex-basis: 0;
    flex-grow: 1;
    height: 1px;
    background-color: white;
  }

  &::after {
    margin-left: -$_h2_letter_spacing;
  }
}

.compendium-section-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.compendium-thumbnail {
  box-sizing: border-box;
  width: 6rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: inherit;
  text-decoration: none;
  transition: color $transitionDuration, border-color $transitionDuration;

  &:hover {
    color: $highlight;
    border-color: $highlight;
  }
}

h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 450;
  text-align: center;
  line-height: 1.2;
  font-optical-sizing: auto;
  font-style: italic;
  hyphens: manual;
}

.compendium-thumbnail-image {
  position: relative;
  box-sizing: border-box;
  border: solid 3px $text;
  border-color: inherit;
  width: 6rem;
  height: 6rem;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%);
    transition: filter $transitionDuration;
  }

  &[data-category='buildings']::before {
    background-image: url('./icons/skyline.png');
  }

  &[data-category='museums']::before {
    background-image: url('./icons/museum.png');
  }

  &[data-category='transit']::before {
    background-image: url('./icons/ttc.png');
  }

  &[data-category='wildlife']::before {
    background-image: url('./icons/raccoon.png');
  }

  &[data-category='parks']::before {
    background-image: url('./icons/park.png');
  }

  &[data-category='libraries']::before {
    background-image: url('./icons/library.png');
  }

  &[data-category='fire-stations']::before {
    background-image: url('./icons/fire-station.png');
  }
}

.compendium-thumbnail[data-completed='true'] .compendium-thumbnail-image {
  background-color: rgba(255, 255, 255, 0.5);
}

.compendium-thumbnail:hover .compendium-thumbnail-image::before {
  filter: invert(25%);
}

.not-found p {
  margin: 4rem 0;
  font-size: 1.2rem;
  text-align: center;
}

.compendium-entry {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.compendium-entry-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.compendium-entry-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  h2 {
    box-sizing: border-box;
    width: 100%;
    border: solid 2px $text;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }

  p {
    margin: 0 0.5rem;
    font-style: italic;
  }
}

.compendium-entry-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  h2 {
    font-size: 1.5rem;
    font-family: $fontFamilyBody;
    font-weight: 550;
    letter-spacing: 0;
    text-transform: none;
    font-optical-sizing: auto;
    font-style: italic;
  }
}

.compendium-completion-checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 2px $text;
  border-radius: 2rem;
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;

  &[data-completed='true'] {
    background-color: $highlight;
    border-color: $highlight;
    color: $background;
    opacity: 1;
  }
}

@media (min-width: 720px) {

  .compendium-entry {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    gap: 1rem;
  }

  .compendium-entry-column {
    grid-row: 1;
  }

  .compendium-entry-column-details {
    grid-column: 1;
  }

  .compendium-entry-column-info {
    grid-column: 2;
  }

  .compendium-entry-column-description {
    grid-column: 3;
  }

  .compendium-entry-section {
    min-height: 6rem;
  }

}

.compendium-entry-snapshot-background {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  filter: brightness(0.5);
}

.compendium-entry-snapshot {
  border: solid 2px $text;
  padding-top: 75%;
  box-sizing: border-box;
}
