@font-face {
  font-family: "Toronto Subway";
  src: url("./fonts/toronto-subway.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Toronto Subway";
  src: url("./fonts/toronto-subway-bold.otf");
  font-weight: bold;
  font-style: normal;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: #eee;
  background-color: #242424;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 2rem;
}

.compendium {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.compendium-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2rem;
}

h1 {
  margin: 0;
  font-family: "Toronto Subway", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: max(2rem, 4vw);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25rem;
}

.compendium-back-button {
  position: absolute;
  left: 0;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  color: #eee;
  border: solid 2.5px #eee;
  border-radius: 2rem;
  transition: color 0.2s, border-color 0.2s;
}
.compendium-back-button:hover {
  color: #87ceeb;
  border-color: #87ceeb;
}

.compendium-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

h2 {
  margin: 0;
  font-family: "Toronto Subway", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25rem;
}

.compendium-section h2,
.not-found h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.compendium-section h2::before, .compendium-section h2::after,
.not-found h2::before,
.not-found h2::after {
  content: "";
  flex-basis: 0;
  flex-grow: 1;
  height: 1px;
  background-color: white;
}
.compendium-section h2::after,
.not-found h2::after {
  margin-left: -0.25rem;
}

.compendium-section-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.compendium-thumbnail {
  box-sizing: border-box;
  width: 6rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s, border-color 0.2s;
}
.compendium-thumbnail:hover {
  color: #87ceeb;
  border-color: #87ceeb;
}

h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 450;
  text-align: center;
  line-height: 1.2;
  font-optical-sizing: auto;
  font-style: italic;
}

.compendium-thumbnail-image {
  position: relative;
  box-sizing: border-box;
  border: solid 3px #eee;
  border-color: inherit;
  width: 6rem;
  height: 6rem;
}
.compendium-thumbnail-image::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(100%);
  transition: filter 0.2s;
}
.compendium-thumbnail-image[data-category=buildings]::before {
  background-image: url("./icons/skyline.png");
}
.compendium-thumbnail-image[data-category=museums]::before {
  background-image: url("./icons/museum.png");
}
.compendium-thumbnail-image[data-category=transit]::before {
  background-image: url("./icons/ttc.png");
}
.compendium-thumbnail-image[data-category=wildlife]::before {
  background-image: url("./icons/raccoon.png");
}
.compendium-thumbnail-image[data-category=parks]::before {
  background-image: url("./icons/park.png");
}

.compendium-thumbnail[data-completed=true] .compendium-thumbnail-image {
  background-color: rgba(255, 255, 255, 0.5);
}

.compendium-thumbnail:hover .compendium-thumbnail-image::before {
  filter: invert(25%);
}

.not-found p {
  margin: 4rem 0;
  font-size: 1.2rem;
  text-align: center;
}

.compendium-entry {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.compendium-entry-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.compendium-entry-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.compendium-entry-section h2 {
  box-sizing: border-box;
  width: 100%;
  border: solid 2px #eee;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.compendium-entry-section p {
  margin: 0 0.5rem;
  font-style: italic;
}

.compendium-entry-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.compendium-entry-name h2 {
  font-size: 1.5rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 550;
  letter-spacing: 0;
  text-transform: none;
  font-optical-sizing: auto;
  font-style: italic;
}

.compendium-completion-checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 2px #eee;
  border-radius: 2rem;
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;
}
.compendium-completion-checkmark[data-completed=true] {
  background-color: #87ceeb;
  border-color: #87ceeb;
  color: #242424;
  opacity: 1;
}

@media (min-width: 720px) {
  .compendium-entry {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    gap: 1rem;
  }
  .compendium-entry-column {
    grid-row: 1;
  }
  .compendium-entry-column-details {
    grid-column: 1;
  }
  .compendium-entry-column-info {
    grid-column: 2;
  }
  .compendium-entry-column-description {
    grid-column: 3;
  }
  .compendium-entry-section {
    min-height: 6rem;
  }
}
.compendium-entry-snapshot {
  border: solid 2px #eee;
  padding-top: 75%;
  box-sizing: border-box;
}

/*# sourceMappingURL=index.css.map */
