@font-face{
  font-family: 'Toronto Subway';
  src: url('./fonts/toronto-subway.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Toronto Subway';
  src: url('./fonts/toronto-subway-bold.otf');
  font-weight: bold;
  font-style: normal;
}

$background: #242424;
$text: #eee;
$highlight: #87ceeb;

:root {
  font-family: 'Toronto Subway', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: $text;
  background-color: $background;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 2rem;
}

.compendium {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

h1 {
  margin: 0 0 2rem;
  font-size: max(2rem, 4vw);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25rem;
}

.compendium-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

$_h2_letter_spacing: 0.25rem;

h2 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: $_h2_letter_spacing;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  &::before,
  &::after {
    content: '';
    flex-basis: 0;
    flex-grow: 1;
    height: 1px;
    background-color: white;
  }

  &::after {
    margin-left: -$_h2_letter_spacing;
  }
}

.compendium-section-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.compendium-thumbnail {
  box-sizing: border-box;
  width: 6rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s, border-color 0.2s;

  &:hover {
    color: $highlight;
    border-color: $highlight;
  }
}

h3 {
  margin: 0;
  font-weight: normal;
  text-align: center;
  line-height: 1.1;
}

.compendium-thumbnail-image {
  box-sizing: border-box;
  border: solid 3px $text;
  border-color: inherit;
  width: 6rem;
  height: 6rem;
}
