@font-face {
  font-family: 'Toronto Subway';
  src: url('./fonts/toronto-subway.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Toronto Subway';
  src: url('./fonts/toronto-subway-bold.otf');
  font-weight: bold;
  font-style: normal;
}

$fontFamilyBody: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$fontFamilyHeader: 'Toronto Subway', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

$background: #242424;
$text: #eee;
$highlight: #87ceeb;
$transitionDuration: 0.2s;

:root {
  font-family: $fontFamilyBody;
  line-height: 1.5;
  color-scheme: light dark;
  color: $text;
  background-color: $background;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 2rem;
}

.compendium {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

h1 {
  margin: 0 0 2rem;
  font-family: $fontFamilyHeader;
  font-size: max(2rem, 4vw);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25rem;
}

.compendium-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

$_h2_letter_spacing: 0.25rem;

h2 {
  margin: 0;
  font-family: $fontFamilyHeader;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: $_h2_letter_spacing;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  &::before,
  &::after {
    content: '';
    flex-basis: 0;
    flex-grow: 1;
    height: 1px;
    background-color: white;
  }

  &::after {
    margin-left: -$_h2_letter_spacing;
  }
}

.compendium-section-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.compendium-thumbnail {
  box-sizing: border-box;
  width: 6rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: inherit;
  text-decoration: none;
  transition: color $transitionDuration, border-color $transitionDuration;

  &:hover {
    color: $highlight;
    border-color: $highlight;
  }
}

h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 450;
  text-align: center;
  line-height: 1.2;
  font-optical-sizing: auto;
  font-style: italic;
}

.compendium-thumbnail-image {
  position: relative;
  box-sizing: border-box;
  border: solid 3px $text;
  border-color: inherit;
  width: 6rem;
  height: 6rem;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%);
    transition: filter $transitionDuration;
  }

  &[data-category='buildings']::before {
    background-image: url('./icons/skyline.png');
  }

  &[data-category='museums']::before {
    background-image: url('./icons/museum.png');
  }

  &[data-category='transit']::before {
    background-image: url('./icons/ttc.png');
  }

  &[data-category='wildlife']::before {
    background-image: url('./icons/raccoon.png');
  }

  &[data-category='parks']::before {
    background-image: url('./icons/park.png');
  }
}

.compendium-thumbnail:hover .compendium-thumbnail-image::before {
  filter: invert(25%);
}
